* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 h3{
    height: 50px;
    background: #575656;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 h1{
    margin-left: 5%;
    font-size:xx-large;
 }
a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}
a { 
    color: rgb(49, 187, 187);
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
p{
    margin-left: 5%; 
}
footer{
    text-align:center;
    justify-content: space-between;
}
ul{
    margin-left: 5%;
}
input{
    margin-left: 5%;
}